/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.accordian {
  width: 700px;
  margin: 100px auto;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  padding: 24px;
  font-size: 24px;
}

.item .number {
  color: #868e96;
  font-weight: 500;
}

.item .question {
  font-weight: 500;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .question {
  color: #087f5b;
}

.question-content {
  grid-column: 2/2;
}

.question-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
}

.question-content ul {
  margin-left: 16px;
  font-size: 16px;
  display: flex;
  gap: 12px;
  color: #868e96;
  flex-direction: column;
}
