<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Carousel</title>
</head>
<body>
    <div class="carousel">
        <img src="maria.jpg" alt="">
        <div class="content">
            <p class="quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequuntur nihil. Repudiandae explicabo ipsa, laudantium commodi saepe enim architecto quibusdam, similique dignissimos eum."</p>
            <div class="profile-info">
                <p class="name">Maria de Almeida</p>
                <p class="position">Senior Product Manager at EDP Comercial</p>
            </div>
        </div>
        <button class="btn btn--left">
            <svg xmlns="http://www.w3.org/2000/svg" class="btn-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
              </svg>
        </button>
        <button class="btn btn--right">
            <svg xmlns="http://www.w3.org/2000/svg" class="btn-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg>
        </button>
        <div class="dot-group">
            <button class="point">
                <svg class="dot-icon dot-active"  width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="9" r="4" fill-rule="evenodd"/>
                  </svg>
            </button>
            <button class="point">
                <svg class="dot-icon"  width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="9" r="4" fill-rule="evenodd"/>
                  </svg>
            </button>
            <button class="point">
                <svg class="dot-icon"  width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="9" r="4" fill-rule="evenodd"/>
                  </svg>
            </button>
            <button class="point">
                <svg class="dot-icon"  width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="9" r="4" fill-rule="evenodd"/>
                  </svg>
            </button>
        </div>
    </div>
</body>
</html>